.nav {
    display: flex;
    width: 84%;
}

.nav__main {
    border-right: 1px solid #7d7d7d;
    width: 71%;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    .list-reset;
    padding: 25px 0;
    padding-left: 4%;
    padding-right: 10px;
}

.nav__item {
    padding-left: 35px;
    &:first-child {
        padding-left: 0;
    }
}

.nav__link {
    display: block;
    .text-style(13px, 25px, bolder, uppercase);
    color: @white;
}

.nav__social {
    width: 19%;
}

.nav__social-list {
    display: flex;
    .list-reset;
    padding: 25px 0;
    padding-left: 14%;
}

.nav__social-link--fb {
    display: block;
    height: 31px;
    width: 27px;
    background-image: url("../img/fb-header.svg");
    background-repeat: no-repeat;
}

.nav__social-link--tw {
    display: block;
    height: 31px;
    width: 27px;
    background-image: url("../img/fb-header.svg");
    background-repeat: no-repeat;
}
.nav__social-link--g {
    display: block;
    height: 31px;
    width: 27px;
    background-image: url("../img/fb-header.svg");
    background-repeat: no-repeat;
}

.nav__social-link--insta {
    display: block;
    height: 31px;
    width: 27px;
    background-image: url("../img/fb-header.svg");
    background-repeat: no-repeat;
}

.nav__user {
    width: 10%;
}