html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BebasNeueBold";
  src: url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/bebas-neue-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  min-width: 1500px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
  background-color: #ffffff;
}
.container {
  width: 1500px;
  margin: 0 auto;
}
.container--main {
  -webkit-box-shadow: -1px 0px 47px 10px #e5e5e5;
          box-shadow: -1px 0px 47px 10px #e5e5e5;
}
.btn {
  display: block;
  border: none;
  background: transparent;
  cursor: pointer;
}
.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: rgba(25, 33, 45, 0.5);
  border-bottom: 1px solid #38567f;
  z-index: 1;
}
.header__elements-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16%;
}
.header__toggle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  width: 25%;
  border-right: 1px solid #7d7d7d;
}
.header__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.header__toggle::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 15px;
  width: 30px;
  height: 4px;
  background-color: #e8e8e8;
  -webkit-box-shadow: 0 9px 0 0 #e8e8e8, 0 18px 0 0 #e8e8e8;
          box-shadow: 0 9px 0 0 #e8e8e8, 0 18px 0 0 #e8e8e8;
}
.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  border-right: 1px solid #7d7d7d;
}
.header__logo-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 23px 0px 27px 0px;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 84%;
}
.nav__main {
  border-right: 1px solid #7d7d7d;
  width: 71%;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 25px 0;
  padding-left: 4%;
  padding-right: 10px;
}
.nav__item {
  padding-left: 35px;
}
.nav__item:first-child {
  padding-left: 0;
}
.nav__link {
  display: block;
  font-size: 13px;
  line-height: 25px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 19%;
  border-right: 1px solid #7d7d7d;
}
.nav__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 22px 0;
  padding-right: 0px;
  margin: 0 auto;
}
.nav__social-item {
  padding-left: 25px;
}
.nav__social-item:first-child {
  padding-left: 0;
}
.nav__social-link {
  display: block;
  cursor: pointer;
}
.nav__social-link--fb {
  height: 31px;
  width: 27px;
  background-image: url("../img/fb-header.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.nav__social-link--tw {
  height: 31px;
  width: 27px;
  background-image: url("../img/tw-header.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.nav__social-link--g {
  height: 31px;
  width: 27px;
  background-image: url("../img/g-header.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.nav__social-link--insta {
  height: 31px;
  width: 35px;
  background-image: url("../img/insta-header.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.nav__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
}
.nav__user-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 22px 0;
}
.nav__user-item:last-child {
  padding-left: 30px;
}
.nav__user-link {
  display: block;
  cursor: pointer;
}
.nav__user-link--cart {
  height: 31px;
  width: 30px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.nav__user-link--search {
  height: 31px;
  width: 30px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.intro {
  width: 100%;
  margin-top: -75px;
  min-height: 900px;
  background-image: url("../img/test.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.intro__description {
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 555px;
  padding-left: 114px;
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 29px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 8px;
}
.intro__description::before {
  position: absolute;
  content: "";
  top: 225px;
  left: 100px;
  width: 600px;
  height: 300px;
  background-image: url("../img/nike.png");
  background-repeat: no-repeat;
}
.intro__link {
  display: block;
  padding: 14px 5px 14px 5px;
  margin-left: 314px;
  width: 167px;
  background-color: #3954d9;
  font-size: 17px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 20px;
  text-align: center;
}
.shipping {
  margin-top: -70px;
  background-color: #ffffff;
}
.shipping__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 160px;
  padding-bottom: 55px;
  text-align: center;
}
.shipping__item {
  position: relative;
  width: 375px;
  padding-left: 20px;
}
.shipping__item--plane::before {
  position: absolute;
  content: "";
  top: -80px;
  left: 170px;
  width: 39px;
  height: 39px;
  background-image: url("../img/plane.png");
  background-repeat: no-repeat;
}
.shipping__item--clock::before {
  position: absolute;
  content: "";
  top: -80px;
  left: 170px;
  width: 43px;
  height: 44px;
  background-image: url("../img/clock.png");
  background-repeat: no-repeat;
}
.shipping__item--lifebouy-1::before {
  position: absolute;
  content: "";
  top: -80px;
  left: 170px;
  width: 50px;
  height: 51px;
  background-image: url("../img/lifebouy.png");
  background-repeat: no-repeat;
}
.shipping__item--lifebouy-2::before {
  position: absolute;
  content: "";
  top: -80px;
  left: 170px;
  width: 50px;
  height: 51px;
  background-image: url("../img/lifebouy.png");
  background-repeat: no-repeat;
}
.shipping__item-title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "BebasNeueBold", Arial, sans-serif;
  font-size: 33px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
  color: #0d2e57;
}
.shipping__item-description {
  padding: 0;
  margin: 0;
  padding-left: 30px;
  padding-right: 40px;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 24px;
  font-weight: lighter;
  text-transform: none;
  color: #8a8a8a;
}
.shipping__item-link {
  display: block;
  font-size: 13px;
  line-height: 26px;
  font-weight: bolder;
  text-transform: none;
  color: #3753da;
  cursor: pointer;
}
.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f0f0;
}
.offer__wrapper {
  width: 750px;
}
.offer__text-block {
  padding-top: 115px;
  margin-bottom: 30px;
  text-align: center;
}
.offer__title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: normal;
  text-transform: uppercase;
  color: #616161;
}
.offer__product {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  font-family: "BebasNeueBold", Arial, sans-serif;
  font-size: 43px;
  line-height: 44px;
  font-weight: normal;
  text-transform: uppercase;
  color: #0d2e57;
}
.offer__description {
  padding: 0;
  margin: 0;
  padding: 0 120px;
  font-size: 18px;
  line-height: 30px;
  font-weight: lighter;
  text-transform: none;
  color: #8a8a8a;
}
.offer__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.offer__price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 45px;
}
.offer__new-price {
  margin-right: 50px;
  font-size: 52px;
  line-height: 62px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3954d9;
}
.offer__old-price {
  font-size: 32px;
  line-height: 58px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #121212;
  text-decoration: line-through;
}
.offer__price-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
}
.offer__price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 15px;
  margin-right: 15px;
  width: 95px;
  background-color: #ffffff;
  border-radius: 17px;
}
.offer__price-item:last-child {
  margin-right: 0;
}
.offer__time {
  font-size: 38px;
  line-height: 32px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #2d2b27;
}
.offer__dots {
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: #121212;
}
.offer__time-description {
  font-size: 11px;
  line-height: 8px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #2d2b27;
}
.offer__link {
  display: block;
  padding: 15px 5px;
  margin: 0 auto;
  width: 128px;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #3954d9;
  border-radius: 30px;
  cursor: pointer;
}
.offer__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.featured-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.featured-products__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-top: 45px;
  padding-bottom: 45px;
  width: 375px;
  min-height: 378px;
  border: 1px solid rgba(199, 199, 199, 0.3);
}
.featured-products__product-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}
.featured-products__img-link {
  cursor: pointer;
}
.featured-products__img {
  display: block;
  margin-bottom: 30px;
  width: 330px;
  height: 200px;
}
.featured-products__img--glasses {
  display: block;
  margin-bottom: 55px;
  height: 150px;
}
.featured-products__img--watch {
  display: block;
  margin-bottom: 0;
  width: 232px;
  height: 232px;
}
.featured-products__product-title {
  padding: 0;
  margin: 0;
  padding-left: 30px;
  margin-bottom: 10px;
  font-family: "BebasNeueBold", Arial, sans-serif;
  font-size: 25px;
  line-height: 25px;
  font-weight: normal;
  text-transform: uppercase;
  color: #0d2e57;
}
.featured-products__new-price {
  display: inline-block;
  padding-left: 30px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 25px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #0d2e57;
}
.featured-products__old-price {
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #929292;
  text-decoration: line-through;
}
.featured-products__banner {
  padding-top: 65px;
  padding-bottom: 55px;
  padding-left: 46px;
  width: 375px;
  min-height: 376px;
  background-color: #232323;
}
.featured-products__banner-title {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-family: "BebasNeueBold", Arial, sans-serif;
  font-size: 60px;
  line-height: 61px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
}
.featured-products__banner-description {
  padding: 0;
  margin: 0;
  padding-right: 90px;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 5px;
}
.featured-products__banner-link {
  padding: 15px 5px;
  width: 133px;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #3954d9;
  text-align: center;
  border-radius: 30px;
}
.featured-products__banner-wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 750px;
  min-height: 376px;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.featured-products__banner-link--blue {
  background-color: #65cbff;
  margin-top: 275px;
  margin-left: 46px;
}
.featured-products__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  padding-bottom: 20px;
  width: 1500px;
  border: 1px solid rgba(199, 199, 199, 0.3);
}
.featured-products__link {
  margin: 0 auto;
  font-size: 13px;
  line-height: 25px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #3753da;
  cursor: pointer;
}
.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.categories__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.brands {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -90px;
  background-color: #ffffff;
  z-index: 1;
}
.brands__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 250px;
  height: 250px;
  border: 1px solid rgba(199, 199, 199, 0.3);
}
.brands__img {
  margin: auto;
}
.footer {
  position: relative;
  padding-top: 180px;
  width: 100%;
  background-image: url("../img/bg-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
